{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenu sur mon blog</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quo earum aspernatur fugit? Assumenda natus laboriosam atque esse, eveniet veritatis ut eius minima labore vero soluta laborum repudiandae corrupti nisi autem, facilis et ex placeat error iste obcaecati vitae eos.</p>
<p>A eveniet perspiciatis assumenda voluptatum sunt vel facere dolore quia quod obcaecati, cupiditate error animi et facilis ad exercitationem magnam maiores minima voluptate? Id alias incidunt, possimus fugit saepe natus placeat quas ullam itaque obcaecati at, nostrum provident, magni sed!</p>

{% endblock %}